.Section-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../Assets/background4.jpg'); /* Specify the path to your background image */
  background-size: cover; /* Cover the entire element with the background image */
  background-position: center; /* Center the background image */
}

.login-form {
  background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background to the form */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.main-heading {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #000000;
  width: 100%;
  background-color: #000000;
}

.loginbutton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 10px;
}

.loginbutton:hover {
  background-color: #0056b3;
}


.password-container {
  margin-top: 10px; /* Adjust as needed */
}
