/* HomeIntro.css */

.HomeIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../Assets/background4.jpg'); 
  background-size: cover; 
  background-position: center; 
  min-height: 100vh;
  color: white;
}

.imageContainer {
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
}

.schoolImage1 {
  width: 700px; /* Increase the width of the image */
  height: auto; /* Maintain aspect ratio */
  border-radius: 15px;
  margin-bottom: 10px; /* Add margin below the image */
  margin-left:40px;
}

.Islamabadcampus {
  padding: 10px 20px;
  background-color: #b64747;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px; /* Remove the margin between the button and the image */
  margin-left: 290px;
}



/* Added hover effect */
.Islamabadcampus:hover {
  background-color: #6e0404; 
}

