/* Navbar.css */

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Add padding as needed */
    background-color: #282626; /* Example background color, adjust as needed */
    color: white; /* Example text color, adjust as needed */
  }
  
  .navbar img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add margin as needed */
    border-radius: 8px; /* Add border-radius for rounded corners */
    background-color: #ca2aca; /* Light purple-gray background color */
  }
  
  .navbar p {
    margin: 0; /* Remove default margin for the paragraph */
  }
  
  .navbar ul {
    list-style: none; /* Remove default list styles */
    display: flex;
  }
  
  .navbar li {
    margin-right: 20px; /* Add spacing between list items */
  }
  
  .navbar a {
    text-decoration: none;
    color: white; /* Example link text color, adjust as needed */
  }

  .Login{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .Login button {
    background-color: #65085a; /* Example button background color, adjust as needed */
    color: rgb(233, 227, 227); /* Example button text color, adjust as needed */
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    height: 50px;
    margin-right: 50px;
    /* Add more styles as needed */
  }
  .nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: red;
  }
  