/* Navbar.css */

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 10px;  */
    /* padding-bottom: 10px;  */
    background-color: #000000; /* Example background color, adjust as needed */
    color: white; /* Example text color, adjust as needed */
  }
  
  .navbar img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add margin as needed */
    border-radius: 8px; /* Add border-radius for rounded corners */
    background-color: #706570; 
  }
  
  .navbar ul {
    list-style: none; 
    display: flex;
  }
  
  .navbar li {
    margin-right: 20px; /* Add spacing between list items */
  }
  
  .navbar a {
    text-decoration: none;
    color: white; 
  }

  .Login{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .Login button {
    background: linear-gradient(to right, #2929c5, #510693); /* Linear gradient background */
    color: rgb(233, 227, 227); /* Example button text color, adjust as needed */
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    height: 40px;
    margin-right: 50px;
  
  }
  .nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: red;
  }
  