/* StudentTable.css */

/* Container styles */
.student-table-container {
    width: 100%;
    margin: 0 auto;
  }
  
  /* Table styles */
  .student-table {
    width: 100vw;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Header styles */
  .student-table thead th {
    padding: 12px;
    text-align: left;
    background-color: #336494;
    border-bottom: 2px solid #dee2e6;
    color: #333;
  }
  
  /* Body styles */
  .student-table tbody tr:hover {
    background-color: #f2f4f6;
  }
  
  /* Row styles */
  .student-table tbody td {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
    color: #555;
  }
  
  /* Alternating row styles */
  .student-table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
  }
  