.student-table-container {
  margin: auto;
  padding: 20px;
}

.add-student-button {
  text-align: right;
  margin-bottom: 20px;
}

.add-student-link {
  padding: 10px 20px;
  background-color: #010102;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.add-student-link:hover {
  background-color: #0056b3;
}

.student-table {
  width: 100%;
  border-collapse: collapse;
}

.student-table th,
.student-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.student-table th {
  background-color: #336494;
}
